In [14]:
pip install pdfplumber

SyntaxError: invalid syntax (4033417897.py, line 1)

In [15]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp39-cp39-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.22.4 (from pandas)
  Downloading numpy-2.0.2-cp39-cp39-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\envs\py39_env\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\py39_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp39-cp39-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ------- -------------------------------- 2.1/11.6 MB 16.7 MB/s eta 0:00:01
   -------------------------- ------------- 7.6/11.6 MB 23.5 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 22.5 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 22.5 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 11.9 MB/s eta 0:00:00
Downloading numpy-2.0.2-cp39-cp39-win_amd64.whl (15.9 MB)
   ---------------------------------------- 0.0/15.9 MB ? eta -:--:--
   ---------------- ----------------------- 6.6/15.9 MB 30.8 MB/s eta 0:00:01
   ---------------------------------- ----- 13.6/15.9 MB 31.7 MB/s eta 0:00:01
   ---------------------------------------  15.7/15.9 MB 31.9 MB/s eta 0:00:01
   ---------------------------------------  15.7/15.9 MB 31.9 MB/s eta 0:00:01
   ---------------------------------------- 15.9/15.9 MB 14.9 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.2 pandas-2.2.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install nltk

In [ ]:
!pip install spacy

In [ ]:
!python -m spacy download pt_core_news_sm

In [8]:
import pdfplumber
import pandas as pd
import os
import numpy as np
import re

pd.set_option('display.max_columns', None) # Mostrar todas as colunas

In [9]:
import pdfplumber
import pandas as pd

# Caminho do arquivo PDF
pdf_path = "C:/Users/Samsung/Documents/GitHub-Datas/Case_Petrobahia/Tabelas de Preços - Gasolina 01-02-25.pdf"

# Dicionário para armazenar DataFrames de cada página
dfs_por_pagina = {}

# Abrir o PDF
with pdfplumber.open(pdf_path) as pdf:
    for i, page in enumerate(pdf.pages, start=1):
        table = page.extract_table()
        if table:
            df = pd.DataFrame(table[1:], columns=table[0])  # Primeira linha como cabeçalho
            dfs_por_pagina[f"pagina_{i}"] = df

# Exemplo: acessar o DataFrame da página 1
print(dfs_por_pagina["pagina_1"].head())

            LOCAL MODALIDADE\nDE VENDA 01.08.2019 16.08.2019 28.08.2019  \
0  Araucária (PR)                  EXA   1.686,70   1.586,70   1.642,80
1  Araucária (PR)                  LPA   1.688,70   1.588,70   1.644,80
2  Araucária (PR)                  ETD
3    Barueri (SP)                  EXA   1.788,90   1.688,90   1.745,00
4    Barueri (SP)                  LPA   1.793,20   1.693,20   1.749,30

  05.09.2019 19.09.2019 27.09.2019 01.11.2019 19.11.2019 27.11.2019  \
0   1.665,10   1.724,30   1.768,80   1.768,80   1.819,10   1.892,80
1   1.667,10   1.726,30   1.770,80   1.771,10   1.821,40   1.895,10
2
3   1.767,30   1.826,50   1.871,00   1.871,00   1.921,30   1.995,00
4   1.771,60   1.830,80   1.875,30   1.875,30   1.925,60   1.999,30

  01.12.2019 14.01.2020 24.01.2020 31.01.2020 06.02.2020 20.02.2020 29.02.2020
0   1.892,80   1.859,10   1.832,00   1.776,80   1.701,20   1.752,40   1.682,30
1   1.895,10   1.861,40   1.834,30   1.779,10   1.703,50   1.754,70   1.684,60
2
3   1.995,00   1.938,00   1.910,90   1.855,70   1.780,10   1.831,30   1.761,20
4   1.996,90   1.939,90   1.912,80   1.857,60   1.782,00   1.833,20   1.763,10

In [123]:
import numpy as np

# Função para converter números no formato brasileiro para float
def converter_para_float(valor):
    if isinstance(valor, str):  # Verifica se é string
        valor = valor.strip()  # Remove espaços em branco extras
        if valor == "":  # Se for string vazia, retorna NaN
            return np.nan
        try:
            return float(valor.replace(".", "").replace(",", "."))  # Converte para float
        except ValueError:  # Se não puder converter, retorna NaN
            return np.nan
    return valor  # Se já for número, retorna o valor original

# Lista das colunas que queremos manter como texto
colunas_texto = ["LOCAL", "MODALIDADE DE VENDA"]

# Loop para percorrer de "pagina_1" a "pagina_9"
for i in range(1, 10):
    pagina = f"pagina_{i}"
    
    # Renomear a coluna 'MODALIDADE\nDE VENDA' para 'MODALIDADE DE VENDA'
    dfs_por_pagina[pagina] = dfs_por_pagina[pagina].rename(columns={'MODALIDADE\nDE VENDA': 'MODALIDADE DE VENDA'})
    
    # Aplicar a conversão para todas as colunas, exceto as de texto
    dfs_por_pagina[pagina] = dfs_por_pagina[pagina].apply(
        lambda col: col.apply(converter_para_float) if col.name not in colunas_texto else col
    )
    
    # Verificar os tipos das colunas
    print(f"Informações da {pagina}:")
    dfs_por_pagina[pagina].info()

# Concatenar todos os DataFrames, unindo-os lateralmente
df_geral = pd.concat([dfs_por_pagina[f"pagina_{i}"] for i in range(1, 10)], axis=1)

# Verificar o DataFrame final
df_geral.head()

Informações da pagina_1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LOCAL                101 non-null    object
 1   MODALIDADE DE VENDA  101 non-null    object
 2   01.08.2019           71 non-null     float64
 3   16.08.2019           71 non-null     float64
 4   28.08.2019           71 non-null     float64
 5   05.09.2019           71 non-null     float64
 6   19.09.2019           71 non-null     float64
 7   27.09.2019           71 non-null     float64
 8   01.11.2019           70 non-null     float64
 9   19.11.2019           70 non-null     float64
 10  27.11.2019           70 non-null     float64
 11  01.12.2019           70 non-null     float64
 12  14.01.2020           70 non-null     float64
 13  24.01.2020           70 non-null     float64
 14  31.01.2020           70 non-null     float64
 15  06.02.2020           71 non-null     float64
 16  20.02.2020           71 non-null     float64
 17  29.02.2020           71 non-null     float64
dtypes: float64(16), object(2)
memory usage: 14.3+ KB
Informações da pagina_2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LOCAL                101 non-null    object
 1   MODALIDADE DE VENDA  101 non-null    object
 2   01.03.2020           72 non-null     float64
 3   13.03.2020           72 non-null     float64
 4   19.03.2020           72 non-null     float64
 5   25.03.2020           72 non-null     float64
 6   28.03.2020           72 non-null     float64
 7   01.04.2020           74 non-null     float64
 8   15.04.2020           74 non-null     float64
 9   17.04.2020           74 non-null     float64
 10  21.04.2020           74 non-null     float64
 11  29.04.2020           75 non-null     float64
 12  07.05.2020           75 non-null     float64
 13  14.05.2020           75 non-null     float64
 14  21.05.2020           75 non-null     float64
 15  27.05.2020           75 non-null     float64
 16  01.06.2020           76 non-null     float64
 17  09.06.2020           76 non-null     float64
dtypes: float64(16), object(2)
memory usage: 14.3+ KB
Informações da pagina_3:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LOCAL                101 non-null    object
 1   MODALIDADE DE VENDA  101 non-null    object
 2   19.06.2020           76 non-null     float64
 3   01.07.2020           76 non-null     float64
 4   02.07.2020           76 non-null     float64
 5   08.07.2020           76 non-null     float64
 6   17.07.2020           76 non-null     float64
 7   31.07.2020           76 non-null     float64
 8   01.08.2020           68 non-null     float64
 9   13.08.2020           68 non-null     float64
 10  21.08.2020           68 non-null     float64
 11  26.08.2020           68 non-null     float64
 12  03.09.2020           68 non-null     float64
 13  09.09.2020           68 non-null     float64
 14  11.09.2020           68 non-null     float64
 15  23.09.2020           68 non-null     float64
 16  30.09.2020           68 non-null     float64
 17  01.10.2020           68 non-null     float64
dtypes: float64(16), object(2)
memory usage: 14.3+ KB
Informações da pagina_4:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LOCAL                101 non-null    object
 1   MODALIDADE DE VENDA  101 non-null    object
 2   10.10.2020           68 non-null     float64
 3   16.10.2020           68 non-null     float64
 4   27.10.2020           68 non-null     float64
 5   31.10.2020           68 non-null     float64
 6   01.11.2020           68 non-null     float64
 7   12.11.2020           68 non-null     float64
 8   26.11.2020           68 non-null     float64
 9   03.12.2020           68 non-null     float64
 10  16.12.2020           68 non-null     float64
 11  29.12.2020           68 non-null     float64
 12  18.01.2021           69 non-null     float64
 13  19.01.2021           69 non-null     float64
 14  27.01.2021           69 non-null     float64
 15  01.02.2021           69 non-null     float64
 16  09.02.2021           69 non-null     float64
 17  19.02.2021           69 non-null     float64
dtypes: float64(16), object(2)
memory usage: 14.3+ KB
Informações da pagina_5:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LOCAL                101 non-null    object
 1   MODALIDADE DE VENDA  101 non-null    object
 2   01.03.2021           69 non-null     float64
 3   02.03.2021           69 non-null     float64
 4   09.03.2021           69 non-null     float64
 5   20.03.2021           69 non-null     float64
 6   25.03.2021           69 non-null     float64
 7   01.04.2021           67 non-null     float64
 8   16.04.2021           67 non-null     float64
 9   01.05.2021           67 non-null     float64
 10  01.06.2021           67 non-null     float64
 11  12.06.2021           67 non-null     float64
 12  01.07.2021           67 non-null     float64
 13  06.07.2021           67 non-null     float64
 14  01.08.2021           67 non-null     float64
 15  12.08.2021           67 non-null     float64
 16  01.09.2021           67 non-null     float64
 17  01.10.2021           59 non-null     float64
dtypes: float64(16), object(2)
memory usage: 14.3+ KB
Informações da pagina_6:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LOCAL                101 non-null    object
 1   MODALIDADE DE VENDA  101 non-null    object
 2   09.10.2021           59 non-null     float64
 3   26.10.2021           59 non-null     float64
 4   01.11.2021           60 non-null     float64
 5   01.12.2021           60 non-null     float64
 6   15.12.2021           60 non-null     float64
 7   01.01.2022           60 non-null     float64
 8   12.01.2022           60 non-null     float64
 9   01.02.2022           60 non-null     float64
 10  01.03.2022           60 non-null     float64
 11  11.03.2022           60 non-null     float64
 12  01.04.2022           60 non-null     float64
 13  01.05.2022           60 non-null     float64
 14  01.06.2022           59 non-null     float64
 15  18.06.2022           59 non-null     float64
 16  24.06.2022           67 non-null     float64
 17  20.07.2022           67 non-null     float64
dtypes: float64(16), object(2)
memory usage: 14.3+ KB
Informações da pagina_7:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LOCAL                101 non-null    object
 1   MODALIDADE DE VENDA  101 non-null    object
 2   29.07.2022           67 non-null     float64
 3   01.08.2022           67 non-null     float64
 4   16.08.2022           67 non-null     float64
 5   01.09.2022           68 non-null     float64
 6   02.09.2022           68 non-null     float64
 7   01.10.2022           66 non-null     float64
 8   01.11.2022           66 non-null     float64
 9   07.12.2022           66 non-null     float64
 10  01.01.2023           68 non-null     float64
 11  25.01.2023           68 non-null     float64
 12  01.02.2023           68 non-null     float64
 13  01.03.2023           68 non-null     float64
 14  01.04.2023           68 non-null     float64
 15  01.05.2023           60 non-null     float64
 16  17.05.2023           60 non-null     float64
 17  01.06.2023           60 non-null     float64
dtypes: float64(16), object(2)
memory usage: 14.3+ KB
Informações da pagina_8:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LOCAL                101 non-null    object
 1   MODALIDADE DE VENDA  101 non-null    object
 2   08.06.2023           59 non-null     float64
 3   16.06.2023           59 non-null     float64
 4   01.07.2023           59 non-null     float64
 5   01.08.2023           59 non-null     float64
 6   16.08.2023           59 non-null     float64
 7   01.09.2023           59 non-null     float64
 8   01.10.2023           59 non-null     float64
 9   21.10.2023           59 non-null     float64
 10  01.11.2023           59 non-null     float64
 11  01.12.2023           59 non-null     float64
 12  01.01.2024           59 non-null     float64
 13  01.02.2024           59 non-null     float64
 14  01.03.2024           62 non-null     float64
 15  01.04.2024           63 non-null     float64
 16  01.05.2024           63 non-null     float64
 17  01.06.2024           63 non-null     float64
dtypes: float64(16), object(2)
memory usage: 14.3+ KB
Informações da pagina_9:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LOCAL                101 non-null    object
 1   MODALIDADE DE VENDA  101 non-null    object
 2   01.07.2024           63 non-null     float64
 3   09.07.2024           63 non-null     float64
 4   01.09.2024           63 non-null     float64
 5   01.10.2024           63 non-null     float64
 6   01.11.2024           67 non-null     float64
 7   01.12.2024           68 non-null     float64
 8   01.01.2025           67 non-null     float64
 9   01.02.2025           67 non-null     float64
dtypes: float64(8), object(2)
memory usage: 8.0+ KB

,LOCAL,MODALIDADE DE VENDA,01.08.2019,16.08.2019,28.08.2019,05.09.2019,19.09.2019,27.09.2019,01.11.2019,19.11.2019,27.11.2019,01.12.2019,14.01.2020,24.01.2020,31.01.2020,06.02.2020,20.02.2020,29.02.2020,LOCAL,MODALIDADE DE VENDA,01.03.2020,13.03.2020,19.03.2020,25.03.2020,28.03.2020,01.04.2020,15.04.2020,17.04.2020,21.04.2020,29.04.2020,07.05.2020,14.05.2020,21.05.2020,27.05.2020,01.06.2020,09.06.2020,LOCAL,MODALIDADE DE VENDA,19.06.2020,01.07.2020,02.07.2020,08.07.2020,17.07.2020,31.07.2020,01.08.2020,13.08.2020,21.08.2020,26.08.2020,03.09.2020,09.09.2020,11.09.2020,23.09.2020,30.09.2020,01.10.2020,LOCAL,MODALIDADE DE VENDA,10.10.2020,16.10.2020,27.10.2020,31.10.2020,01.11.2020,12.11.2020,26.11.2020,03.12.2020,16.12.2020,29.12.2020,18.01.2021,19.01.2021,27.01.2021,01.02.2021,09.02.2021,19.02.2021,LOCAL,MODALIDADE DE VENDA,01.03.2021,02.03.2021,09.03.2021,20.03.2021,25.03.2021,01.04.2021,16.04.2021,01.05.2021,01.06.2021,12.06.2021,01.07.2021,06.07.2021,01.08.2021,12.08.2021,01.09.2021,01.10.2021,LOCAL,MODALIDADE DE VENDA,09.10.2021,26.10.2021,01.11.2021,01.12.2021,15.12.2021,01.01.2022,12.01.2022,01.02.2022,01.03.2022,11.03.2022,01.04.2022,01.05.2022,01.06.2022,18.06.2022,24.06.2022,20.07.2022,LOCAL,MODALIDADE DE VENDA,29.07.2022,01.08.2022,16.08.2022,01.09.2022,02.09.2022,01.10.2022,01.11.2022,07.12.2022,01.01.2023,25.01.2023,01.02.2023,01.03.2023,01.04.2023,01.05.2023,17.05.2023,01.06.2023,LOCAL,MODALIDADE DE VENDA,08.06.2023,16.06.2023,01.07.2023,01.08.2023,16.08.2023,01.09.2023,01.10.2023,21.10.2023,01.11.2023,01.12.2023,01.01.2024,01.02.2024,01.03.2024,01.04.2024,01.05.2024,01.06.2024,LOCAL,MODALIDADE DE VENDA,01.07.2024,09.07.2024,01.09.2024,01.10.2024,01.11.2024,01.12.2024,01.01.2025,01.02.2025
0,Araucária (PR),EXA,1686.7,1586.7,1642.8,1665.1,1724.3,1768.8,1768.8,1819.1,1892.8,1892.8,1859.1,1832.0,1776.8,1701.2,1752.4,1682.3,Araucária (PR),EXA,1682.3,1522.3,1340.3,1139.6,1083.0,1083.0,997.0,997.0,917.6,917.6,1027.3,1129.7,1264.7,1327.5,1327.5,1460.2,Araucária (PR),EXA,1533.4,1533.4,1579.1,1658.5,1724.9,1655.7,1655.7,1721.9,1825.1,1825.1,1771.1,1682.7,1599.3,1663.9,1747.0,1747.0,Araucária (PR),EXA,1817.0,1744.4,1657.3,1574.4,1574.4,1669.1,1735.9,1701.1,1752.9,1839.6,1839.6,1986.5,2087.1,2087.1,2255.4,2481.6,Araucária (PR),EXA,2481.6,2605.6,2839.8,2697.8,2589.8,2589.8,2639.5,2586.6,2586.6,2535.2,2535.2,2692.3,2692.3,2785.8,2785.8,2785.8,Araucária (PR),EXA,2978.9,3187.7,3187.7,3187.7,3091.9,3091.9,3246.5,3246.5,3246.5,3855.8,3855.8,3855.8,3855.8,4055.8,4055.8,3855.0,Araucária (PR),EXA,3705.0,3705.0,3526.4,3526.4,3276.4,3276.4,3276.4,3076.4,3076.4,3306.4,3306.4,3176.4,3176.4,3176.4,2776.4,2776.4,Araucária (PR),EXA,2776.4,2646.4,2506.4,2506.4,2916.4,2916.4,2916.4,2790.9,2790.9,2790.9,2790.9,2790.9,2790.9,2790.9,2790.9,2790.9,Araucária (PR),EXA,2790.9,2990.9,2990.9,2990.9,2990.9,2990.9,2990.9,2990.9
1,Araucária (PR),LPA,1688.7,1588.7,1644.8,1667.1,1726.3,1770.8,1771.1,1821.4,1895.1,1895.1,1861.4,1834.3,1779.1,1703.5,1754.7,1684.6,Araucária (PR),LPA,1684.6,1524.6,1342.6,1141.9,1085.3,1085.3,999.3,999.3,919.9,919.9,1029.6,1132.0,1267.0,1329.8,1329.8,1462.5,Araucária (PR),LPA,1535.7,1535.7,1581.4,1660.8,1727.2,1658.0,1658.0,1724.2,1827.4,1827.4,1773.4,1685.0,1601.6,1666.2,1749.3,1749.3,Araucária (PR),LPA,1819.3,1746.7,1659.6,1576.7,1576.7,1671.4,1738.2,1703.4,1755.2,1841.9,1841.9,1988.8,2089.4,2089.4,2257.7,2483.9,Araucária (PR),LPA,2483.9,2607.9,2842.1,2700.1,2592.1,2592.1,2641.8,2588.9,2588.9,2537.5,2537.5,2694.6,2694.6,2788.1,2788.1,2788.1,Araucária (PR),LPA,2981.2,3190.0,3190.0,3190.0,3094.2,3094.2,3248.8,3248.8,3248.8,3858.1,3858.1,3858.1,3858.1,4058.1,4058.1,3857.3,Araucária (PR),LPA,3707.3,3707.3,3528.7,3528.7,3278.7,3278.7,3278.7,3078.7,3078.7,3308.7,3308.7,3178.7,3178.7,3178.9,2778.9,2778.9,Araucária (PR),LPA,2778.9,2648.9,2508.9,2508.9,2918.9,2918.9,2918.9,2793.4,2793.4,2793.4,2793.4,2793.4,2793.4,2793.6,2793.6,2793.6,Araucária (PR),LPA,2793.6,2993.6,2993.6,2993.6,2993.6,2993.6,2993.6,2993.6
2,Araucária (PR),ETD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Araucária (PR),ETD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Araucária (PR),ETD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Araucária (PR),ETD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Araucária (PR),ETD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Araucária (PR),ETD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4070.8,3870.0,Araucária (PR),ETD,3720.0,3720.0,3541.4,3541.4,3291.4,3291.4,3291.4,3091.4,3091.4,3321.4,3321.4,3191.4,3191.4,NaN,NaN,NaN,Araucária (PR),ETD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Araucária (PR),ETD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Barueri (SP),EXA,1788.9,1688.9,1745.0,1767.3,1826.5,1871.0,1871.0,1921.3,1995.0,1995.0,1938.0,1910.9,1855.7,1780.1,1831.3,1761.2,Barueri (SP),EXA,1761.2,1601.2,1419.2,1218.5,1161.9,1161.9,1075.9,1075.9,996.5,996.5,1106.2,1208.6,1343.6,1406.4,1406.4,1539.1,Barueri (SP),EXA,1612.3,1612.3,1658.0,1737.4,1803.8,1734.6,1734.6,1800.8,1904.0,1904.0,1850.0,1761.6,1678.2,1742.8,1825.9,1825.9,Barueri (SP),EXA,1895.9,1823.3,1736.2,1653.3,1653.3,1748.0,1814.8,1780.0,1831.8,1918.5,1918.5,2065.4,2141.0,2141.0,2284.3,2510.5,Barueri (SP),EXA,2510.5,2634.5,2868.7,2726.7,2618.7,2618.7,2668.4,2615.5,2615.5,2564.1,2564.1,2721.2,2721.2,2814.7,2814.7,2814.7,Barueri (SP),EXA,3007.8,3216.6,3216.6,3216.6,3120.8,3120.8,3275.4,3275.4,3275.4,3884.7,3884.7,3884.7,3884.7,4084.7,4084.7,3883.9,Barueri (SP),EXA,3733.9,3733.9,3555.3,3555.3,3305.3,3305.3,3305.3,3105.3,3105.3,3335.3,3335.3,3205.3,3205.3,3205.3,2805.3,2805.3,Barueri (SP),EXA,2805.3,2675.3,2535.3,2535.3,2945.3,2945.3,2945.3,2819.8,2819.8,2819.8,2819.8,2819.8,2819.8,2819.8,2819.8,2819.8,Barueri (SP),EXA,2819.8,3019.8,3019.8,3019.8,3019.8,3019.8,3019.8,3019.8
4,Barueri (SP),LPA,1793.2,1693.2,1749.3,1771.6,1830.8,1875.3,1875.3,1925.6,1999.3,1996.9,1939.9,1912.8,1857.6,1782.0,1833.2,1763.1,Barueri (SP),LPA,1763.1,1603.1,1421.1,1220.4,1163.8,1163.8,1077.8,1077.8,998.4,998.4,1108.1,1210.5,1345.5,1408.3,1408.3,1541.0,Barueri (SP),LPA,1614.2,1614.2,1659.9,1739.3,1805.7,1736.5,1736.5,1802.7,1905.9,1905.9,1851.9,1763.5,1680.1,1744.7,1827.8,1827.8,Barueri (SP),LPA,1897.8,1825.2,1738.1,1655.2,1655.2,1749.9,1816.7,1781.9,1833.7,1920.4,1920.4,2067.3,2142.9,2142.9,2286.2,2512.4,Barueri (SP),LPA,2512.4,2636.4,2870.6,2728.6,2620.6,2620.6,2670.3,2617.4,2617.4,2566.0,2566.0,2723.1,2723.1,2816.6,2816.6,2816.6,Barueri (SP),LPA,3009.7,3218.5,3218.5,3218.5,3122.7,3122.5,3277.1,3277.1,3277.1,3886.4,3886.4,3886.4,3886.4,4086.4,4086.4,3885.6,Barueri (SP),LPA,3735.6,3735.6,3557.0,3557.0,3307.0,3307.0,3307.0,3107.0,3107.0,3337.0,3337.0,3207.0,3207.0,3207.1,2807.1,2807.1,Barueri (SP),LPA,2807.1,2677.1,2537.1,2537.1,2947.1,2947.1,2947.1,2821.6,2821.6,2821.6,2821.6,2821.6,2821.6,2821.7,2821.7,2821.7,Barueri (SP),LPA,2821.7,3021.7,3021.7,3021.7,3021.7,3021.7,3021.7,3021.8

In [124]:
# Remover colunas duplicadas, mantendo apenas a primeira
df_geral = df_geral.loc[:, ~df_geral.columns.duplicated()]
df_geral.head()

,LOCAL,MODALIDADE DE VENDA,01.08.2019,16.08.2019,28.08.2019,05.09.2019,19.09.2019,27.09.2019,01.11.2019,19.11.2019,27.11.2019,01.12.2019,14.01.2020,24.01.2020,31.01.2020,06.02.2020,20.02.2020,29.02.2020,01.03.2020,13.03.2020,19.03.2020,25.03.2020,28.03.2020,01.04.2020,15.04.2020,17.04.2020,21.04.2020,29.04.2020,07.05.2020,14.05.2020,21.05.2020,27.05.2020,01.06.2020,09.06.2020,19.06.2020,01.07.2020,02.07.2020,08.07.2020,17.07.2020,31.07.2020,01.08.2020,13.08.2020,21.08.2020,26.08.2020,03.09.2020,09.09.2020,11.09.2020,23.09.2020,30.09.2020,01.10.2020,10.10.2020,16.10.2020,27.10.2020,31.10.2020,01.11.2020,12.11.2020,26.11.2020,03.12.2020,16.12.2020,29.12.2020,18.01.2021,19.01.2021,27.01.2021,01.02.2021,09.02.2021,19.02.2021,01.03.2021,02.03.2021,09.03.2021,20.03.2021,25.03.2021,01.04.2021,16.04.2021,01.05.2021,01.06.2021,12.06.2021,01.07.2021,06.07.2021,01.08.2021,12.08.2021,01.09.2021,01.10.2021,09.10.2021,26.10.2021,01.11.2021,01.12.2021,15.12.2021,01.01.2022,12.01.2022,01.02.2022,01.03.2022,11.03.2022,01.04.2022,01.05.2022,01.06.2022,18.06.2022,24.06.2022,20.07.2022,29.07.2022,01.08.2022,16.08.2022,01.09.2022,02.09.2022,01.10.2022,01.11.2022,07.12.2022,01.01.2023,25.01.2023,01.02.2023,01.03.2023,01.04.2023,01.05.2023,17.05.2023,01.06.2023,08.06.2023,16.06.2023,01.07.2023,01.08.2023,16.08.2023,01.09.2023,01.10.2023,21.10.2023,01.11.2023,01.12.2023,01.01.2024,01.02.2024,01.03.2024,01.04.2024,01.05.2024,01.06.2024,01.07.2024,09.07.2024,01.09.2024,01.10.2024,01.11.2024,01.12.2024,01.01.2025,01.02.2025
0,Araucária (PR),EXA,1686.7,1586.7,1642.8,1665.1,1724.3,1768.8,1768.8,1819.1,1892.8,1892.8,1859.1,1832.0,1776.8,1701.2,1752.4,1682.3,1682.3,1522.3,1340.3,1139.6,1083.0,1083.0,997.0,997.0,917.6,917.6,1027.3,1129.7,1264.7,1327.5,1327.5,1460.2,1533.4,1533.4,1579.1,1658.5,1724.9,1655.7,1655.7,1721.9,1825.1,1825.1,1771.1,1682.7,1599.3,1663.9,1747.0,1747.0,1817.0,1744.4,1657.3,1574.4,1574.4,1669.1,1735.9,1701.1,1752.9,1839.6,1839.6,1986.5,2087.1,2087.1,2255.4,2481.6,2481.6,2605.6,2839.8,2697.8,2589.8,2589.8,2639.5,2586.6,2586.6,2535.2,2535.2,2692.3,2692.3,2785.8,2785.8,2785.8,2978.9,3187.7,3187.7,3187.7,3091.9,3091.9,3246.5,3246.5,3246.5,3855.8,3855.8,3855.8,3855.8,4055.8,4055.8,3855.0,3705.0,3705.0,3526.4,3526.4,3276.4,3276.4,3276.4,3076.4,3076.4,3306.4,3306.4,3176.4,3176.4,3176.4,2776.4,2776.4,2776.4,2646.4,2506.4,2506.4,2916.4,2916.4,2916.4,2790.9,2790.9,2790.9,2790.9,2790.9,2790.9,2790.9,2790.9,2790.9,2790.9,2990.9,2990.9,2990.9,2990.9,2990.9,2990.9,2990.9
1,Araucária (PR),LPA,1688.7,1588.7,1644.8,1667.1,1726.3,1770.8,1771.1,1821.4,1895.1,1895.1,1861.4,1834.3,1779.1,1703.5,1754.7,1684.6,1684.6,1524.6,1342.6,1141.9,1085.3,1085.3,999.3,999.3,919.9,919.9,1029.6,1132.0,1267.0,1329.8,1329.8,1462.5,1535.7,1535.7,1581.4,1660.8,1727.2,1658.0,1658.0,1724.2,1827.4,1827.4,1773.4,1685.0,1601.6,1666.2,1749.3,1749.3,1819.3,1746.7,1659.6,1576.7,1576.7,1671.4,1738.2,1703.4,1755.2,1841.9,1841.9,1988.8,2089.4,2089.4,2257.7,2483.9,2483.9,2607.9,2842.1,2700.1,2592.1,2592.1,2641.8,2588.9,2588.9,2537.5,2537.5,2694.6,2694.6,2788.1,2788.1,2788.1,2981.2,3190.0,3190.0,3190.0,3094.2,3094.2,3248.8,3248.8,3248.8,3858.1,3858.1,3858.1,3858.1,4058.1,4058.1,3857.3,3707.3,3707.3,3528.7,3528.7,3278.7,3278.7,3278.7,3078.7,3078.7,3308.7,3308.7,3178.7,3178.7,3178.9,2778.9,2778.9,2778.9,2648.9,2508.9,2508.9,2918.9,2918.9,2918.9,2793.4,2793.4,2793.4,2793.4,2793.4,2793.4,2793.6,2793.6,2793.6,2793.6,2993.6,2993.6,2993.6,2993.6,2993.6,2993.6,2993.6
2,Araucária (PR),ETD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4070.8,3870.0,3720.0,3720.0,3541.4,3541.4,3291.4,3291.4,3291.4,3091.4,3091.4,3321.4,3321.4,3191.4,3191.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Barueri (SP),EXA,1788.9,1688.9,1745.0,1767.3,1826.5,1871.0,1871.0,1921.3,1995.0,1995.0,1938.0,1910.9,1855.7,1780.1,1831.3,1761.2,1761.2,1601.2,1419.2,1218.5,1161.9,1161.9,1075.9,1075.9,996.5,996.5,1106.2,1208.6,1343.6,1406.4,1406.4,1539.1,1612.3,1612.3,1658.0,1737.4,1803.8,1734.6,1734.6,1800.8,1904.0,1904.0,1850.0,1761.6,1678.2,1742.8,1825.9,1825.9,1895.9,1823.3,1736.2,1653.3,1653.3,1748.0,1814.8,1780.0,1831.8,1918.5,1918.5,2065.4,2141.0,2141.0,2284.3,2510.5,2510.5,2634.5,2868.7,2726.7,2618.7,2618.7,2668.4,2615.5,2615.5,2564.1,2564.1,2721.2,2721.2,2814.7,2814.7,2814.7,3007.8,3216.6,3216.6,3216.6,3120.8,3120.8,3275.4,3275.4,3275.4,3884.7,3884.7,3884.7,3884.7,4084.7,4084.7,3883.9,3733.9,3733.9,3555.3,3555.3,3305.3,3305.3,3305.3,3105.3,3105.3,3335.3,3335.3,3205.3,3205.3,3205.3,2805.3,2805.3,2805.3,2675.3,2535.3,2535.3,2945.3,2945.3,2945.3,2819.8,2819.8,2819.8,2819.8,2819.8,2819.8,2819.8,2819.8,2819.8,2819.8,3019.8,3019.8,3019.8,3019.8,3019.8,3019.8,3019.8
4,Barueri (SP),LPA,1793.2,1693.2,1749.3,1771.6,1830.8,1875.3,1875.3,1925.6,1999.3,1996.9,1939.9,1912.8,1857.6,1782.0,1833.2,1763.1,1763.1,1603.1,1421.1,1220.4,1163.8,1163.8,1077.8,1077.8,998.4,998.4,1108.1,1210.5,1345.5,1408.3,1408.3,1541.0,1614.2,1614.2,1659.9,1739.3,1805.7,1736.5,1736.5,1802.7,1905.9,1905.9,1851.9,1763.5,1680.1,1744.7,1827.8,1827.8,1897.8,1825.2,1738.1,1655.2,1655.2,1749.9,1816.7,1781.9,1833.7,1920.4,1920.4,2067.3,2142.9,2142.9,2286.2,2512.4,2512.4,2636.4,2870.6,2728.6,2620.6,2620.6,2670.3,2617.4,2617.4,2566.0,2566.0,2723.1,2723.1,2816.6,2816.6,2816.6,3009.7,3218.5,3218.5,3218.5,3122.7,3122.5,3277.1,3277.1,3277.1,3886.4,3886.4,3886.4,3886.4,4086.4,4086.4,3885.6,3735.6,3735.6,3557.0,3557.0,3307.0,3307.0,3307.0,3107.0,3107.0,3337.0,3337.0,3207.0,3207.0,3207.1,2807.1,2807.1,2807.1,2677.1,2537.1,2537.1,2947.1,2947.1,2947.1,2821.6,2821.6,2821.6,2821.6,2821.6,2821.6,2821.7,2821.7,2821.7,2821.7,3021.7,3021.7,3021.7,3021.7,3021.7,3021.7,3021.8

In [125]:
df_geral.to_excel('C:/Users/Samsung/Documents/GitHub-Datas/Case_Petrobahia/Tabela_de_Preco_Geral.xlsx', index=False)

#### Tratamento pagina 10.

In [102]:
import pdfplumber
import pandas as pd

# Caminho do arquivo PDF
pdf_path_10 = "C:/Users/Samsung/Documents/GitHub-Datas/Case_Petrobahia/Tabelas de Preços - Gasolina 01-02-25.pdf"

# Lista para armazenar DataFrames de cada tabela encontrada na página 10
tabelas_pag10 = []

# Abrindo o PDF e extraindo apenas a página 10 (índice 9, pois começa em 0)
with pdfplumber.open(pdf_path_10) as pdf:
    pagina10 = pdf.pages[9]  # Página 10 tem índice 9
    tabelas = pagina10.extract_tables()

    # Converter cada tabela extraída em um DataFrame sem ajustar cabeçalho
    for tabela in tabelas:
        df_temp = pd.DataFrame(tabela)  # Não definir cabeçalho
        tabelas_pag10.append(df_temp)

# Concatenar todas as tabelas extraídas em um único DataFrame
df_pag10 = pd.concat(tabelas_pag10, ignore_index=True)

# Exibir o DataFrame resultante
df_pag10

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,LOCAL,MODALIDADE\nDE VENDA,01.08.2019,16.08.2019,28.08.2019,05.09.2019,19.09.2019,27.09.2019,01.11.2019,19.11.2019,27.11.2019,14.01.2020,24.01.2020,31.01.2020,06.02.2020,20.02.2020,29.02.2020
1,Duque de Caxias (RJ),EXA,"2.104,36","2.004,36","2.060,46","2.082,76","2.141,96","2.186,46","2.186,46","2.236,76","2.310,46","2.301,06","2.273,96","2.218,76","2.143,16","2.194,36","2.124,26"
2,Duque de Caxias (RJ),LPA,"2.106,36","2.006,36","2.062,46","2.084,76","2.143,96","2.188,46","2.188,76","2.239,06","2.312,76","2.303,36","2.276,26","2.221,06","2.145,46","2.196,66","2.126,56"
3,LOCAL,MODALIDADE\nDE VENDA,13.03.2020,19.03.2020,25.03.2020,28.03.2020,15.04.2020,21.04.2020,07.05.2020,14.05.2020,21.05.2020,27.05.2020,09.06.2020,19.06.2020,02.07.2020,08.07.2020,17.07.2020
4,Duque de Caxias (RJ),EXA,"1.964,26","1.782,26","1.581,56","1.524,96","1.438,96","1.359,56","1.469,26","1.571,66","1.706,66","1.769,46","1.902,16","1.975,36","2.021,06","2.100,46","2.166,86"
5,Duque de Caxias (RJ),LPA,"1.966,56","1.784,56","1.583,86","1.527,26","1.441,26","1.361,86","1.471,56","1.573,96","1.708,96","1.771,76","1.904,46","1.977,66","2.023,36","2.102,76","2.169,16"
6,LOCAL,MODALIDADE\nDE VENDA,31.07.2020,13.08.2020,21.08.2020,03.09.2020,09.09.2020,11.09.2020,23.09.2020,30.09.2020,10.10.2020,16.10.2020,27.10.2020,31.10.2020,12.11.2020,26.11.2020,03.12.2020
7,Duque de Caxias (RJ),EXA,"2.097,66","2.163,86","2.267,06","2.213,06","2.124,66","2.041,26","2.105,86","2.188,96","2.258,96","2.186,36","2.099,26","2.016,36","2.111,06","2.177,86","2.143,06"
8,Duque de Caxias (RJ),LPA,"2.099,96","2.166,16","2.269,36","2.215,36","2.126,96","2.043,56","2.108,16","2.191,26","2.261,26","2.188,66","2.101,56","2.018,66","2.113,36","2.180,16","2.145,36"
9,LOCAL,MODALIDADE\nDE VENDA,16.12.2020,29.12.2020,19.01.2021,27.01.2021,09.02.2021,19.02.2021,02.03.2021,09.03.2021,20.03.2021,25.03.2021,16.04.2021,01.05.2021,12.06.2021,06.07.2021,12.08.2021
10,Duque de Caxias (RJ),EXA,"2.194,86","2.281,56","2.428,46","2.529,06","2.697,36","2.923,56","3.047,56","3.281,76","3.139,76","3.031,76","3.081,46","3.028,56","2.977,16","3.134,26","3.227,76"
11,Duque de Caxias (RJ),LPA,"2.197,16","2.283,86","2.430,76","2.531,36","2.699,66","2.925,86","3.049,86","3.284,06","3.142,06","3.034,06","3.083,76","3.030,86","2.979,46","3.136,56","3.230,06"
12,LOCAL,MODALIDADE\nDE VENDA,09.10.2021,26.10.2021,15.12.2021,12.01.2022,11.03.2022,18.06.2022,20.07.2022,29.07.2022,16.08.2022,02.09.2022,07.12.2022,25.01.2023,01.03.2023,01.04.2023,01.05.2023
13,Duque de Caxias (RJ),EXA,"3.420,86","3.629,66","3.533,86","3.688,46","4.297,76","4.497,76","4.296,96","4.146,96","3.968,36","3.718,36","3.518,36","3.748,36","3.618,36",,
14,Duque de Caxias (RJ),LPA,"3.423,16","3.631,96","3.536,16","3.690,76","4.300,06","4.500,06","4.299,26","4.149,26","3.970,66","3.720,66","3.520,66","3.750,66","3.620,66","3.746,70","3.746,90"
15,LOCAL,MODALIDADE\nDE VENDA,17.05.2023,16.06.2023,01.07.2023,16.08.2023,21.10.2023,01.04.2024,09.07.2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Duque de Caxias (RJ),EXA,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Duque de Caxias (RJ),LPA,"3.346,90","3.216,90","3.076,90","3.486,90","3.361,40","3.361,60","3.561,60",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
def processar_e_unir(df, passo=3):
    df_final = None  # Inicializa a variável para armazenar a união dos DataFrames

    for i in range(0, len(df), passo):
        df_temp = df.iloc[i:i+passo].copy().reset_index(drop=True)  # Seleciona o bloco
        df_temp.columns = df_temp.iloc[0]  # Define a primeira linha como cabeçalho
        df_temp = df_temp[1:].reset_index(drop=True)  # Remove a primeira linha
        df_temp = df_temp.rename(columns={'MODALIDADE\nDE VENDA': 'MODALIDADE DE VENDA'})  # Renomeia coluna

        # Junta os DataFrames iterativamente
        if df_final is None:
            df_final = df_temp  # Primeiro bloco se torna o inicial
        else:
            df_final = df_final.merge(df_temp, on=["MODALIDADE DE VENDA", "LOCAL"], how="outer")

    return df_final  # Retorna o DataFrame final unido

# Aplicando a função no df_pag10
df_pag10_union = processar_e_unir(df_pag10)
df_pag10_union.head()

,LOCAL,MODALIDADE DE VENDA,01.08.2019,16.08.2019,28.08.2019,05.09.2019,19.09.2019,27.09.2019,01.11.2019,19.11.2019,27.11.2019,14.01.2020,24.01.2020,31.01.2020,06.02.2020,20.02.2020,29.02.2020,13.03.2020,19.03.2020,25.03.2020,28.03.2020,15.04.2020,21.04.2020,07.05.2020,14.05.2020,21.05.2020,27.05.2020,09.06.2020,19.06.2020,02.07.2020,08.07.2020,17.07.2020,31.07.2020,13.08.2020,21.08.2020,03.09.2020,09.09.2020,11.09.2020,23.09.2020,30.09.2020,10.10.2020,16.10.2020,27.10.2020,31.10.2020,12.11.2020,26.11.2020,03.12.2020,16.12.2020,29.12.2020,19.01.2021,27.01.2021,09.02.2021,19.02.2021,02.03.2021,09.03.2021,20.03.2021,25.03.2021,16.04.2021,01.05.2021,12.06.2021,06.07.2021,12.08.2021,09.10.2021,26.10.2021,15.12.2021,12.01.2022,11.03.2022,18.06.2022,20.07.2022,29.07.2022,16.08.2022,02.09.2022,07.12.2022,25.01.2023,01.03.2023,01.04.2023,01.05.2023,17.05.2023,16.06.2023,01.07.2023,16.08.2023,21.10.2023,01.04.2024,09.07.2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Duque de Caxias (RJ),EXA,"2.104,36","2.004,36","2.060,46","2.082,76","2.141,96","2.186,46","2.186,46","2.236,76","2.310,46","2.301,06","2.273,96","2.218,76","2.143,16","2.194,36","2.124,26","1.964,26","1.782,26","1.581,56","1.524,96","1.438,96","1.359,56","1.469,26","1.571,66","1.706,66","1.769,46","1.902,16","1.975,36","2.021,06","2.100,46","2.166,86","2.097,66","2.163,86","2.267,06","2.213,06","2.124,66","2.041,26","2.105,86","2.188,96","2.258,96","2.186,36","2.099,26","2.016,36","2.111,06","2.177,86","2.143,06","2.194,86","2.281,56","2.428,46","2.529,06","2.697,36","2.923,56","3.047,56","3.281,76","3.139,76","3.031,76","3.081,46","3.028,56","2.977,16","3.134,26","3.227,76","3.420,86","3.629,66","3.533,86","3.688,46","4.297,76","4.497,76","4.296,96","4.146,96","3.968,36","3.718,36","3.518,36","3.748,36","3.618,36",,,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Duque de Caxias (RJ),LPA,"2.106,36","2.006,36","2.062,46","2.084,76","2.143,96","2.188,46","2.188,76","2.239,06","2.312,76","2.303,36","2.276,26","2.221,06","2.145,46","2.196,66","2.126,56","1.966,56","1.784,56","1.583,86","1.527,26","1.441,26","1.361,86","1.471,56","1.573,96","1.708,96","1.771,76","1.904,46","1.977,66","2.023,36","2.102,76","2.169,16","2.099,96","2.166,16","2.269,36","2.215,36","2.126,96","2.043,56","2.108,16","2.191,26","2.261,26","2.188,66","2.101,56","2.018,66","2.113,36","2.180,16","2.145,36","2.197,16","2.283,86","2.430,76","2.531,36","2.699,66","2.925,86","3.049,86","3.284,06","3.142,06","3.034,06","3.083,76","3.030,86","2.979,46","3.136,56","3.230,06","3.423,16","3.631,96","3.536,16","3.690,76","4.300,06","4.500,06","4.299,26","4.149,26","3.970,66","3.720,66","3.520,66","3.750,66","3.620,66","3.746,70","3.746,90","3.346,90","3.216,90","3.076,90","3.486,90","3.361,40","3.361,60","3.561,60",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
df_pag10_union = df_pag10_union.drop(columns=[col for col in df_pag10_union.columns if pd.isna(col)])
df_pag10_union.head()

,LOCAL,MODALIDADE DE VENDA,01.08.2019,16.08.2019,28.08.2019,05.09.2019,19.09.2019,27.09.2019,01.11.2019,19.11.2019,27.11.2019,14.01.2020,24.01.2020,31.01.2020,06.02.2020,20.02.2020,29.02.2020,13.03.2020,19.03.2020,25.03.2020,28.03.2020,15.04.2020,21.04.2020,07.05.2020,14.05.2020,21.05.2020,27.05.2020,09.06.2020,19.06.2020,02.07.2020,08.07.2020,17.07.2020,31.07.2020,13.08.2020,21.08.2020,03.09.2020,09.09.2020,11.09.2020,23.09.2020,30.09.2020,10.10.2020,16.10.2020,27.10.2020,31.10.2020,12.11.2020,26.11.2020,03.12.2020,16.12.2020,29.12.2020,19.01.2021,27.01.2021,09.02.2021,19.02.2021,02.03.2021,09.03.2021,20.03.2021,25.03.2021,16.04.2021,01.05.2021,12.06.2021,06.07.2021,12.08.2021,09.10.2021,26.10.2021,15.12.2021,12.01.2022,11.03.2022,18.06.2022,20.07.2022,29.07.2022,16.08.2022,02.09.2022,07.12.2022,25.01.2023,01.03.2023,01.04.2023,01.05.2023,17.05.2023,16.06.2023,01.07.2023,16.08.2023,21.10.2023,01.04.2024,09.07.2024
0,Duque de Caxias (RJ),EXA,"2.104,36","2.004,36","2.060,46","2.082,76","2.141,96","2.186,46","2.186,46","2.236,76","2.310,46","2.301,06","2.273,96","2.218,76","2.143,16","2.194,36","2.124,26","1.964,26","1.782,26","1.581,56","1.524,96","1.438,96","1.359,56","1.469,26","1.571,66","1.706,66","1.769,46","1.902,16","1.975,36","2.021,06","2.100,46","2.166,86","2.097,66","2.163,86","2.267,06","2.213,06","2.124,66","2.041,26","2.105,86","2.188,96","2.258,96","2.186,36","2.099,26","2.016,36","2.111,06","2.177,86","2.143,06","2.194,86","2.281,56","2.428,46","2.529,06","2.697,36","2.923,56","3.047,56","3.281,76","3.139,76","3.031,76","3.081,46","3.028,56","2.977,16","3.134,26","3.227,76","3.420,86","3.629,66","3.533,86","3.688,46","4.297,76","4.497,76","4.296,96","4.146,96","3.968,36","3.718,36","3.518,36","3.748,36","3.618,36",,,,,,,,,
1,Duque de Caxias (RJ),LPA,"2.106,36","2.006,36","2.062,46","2.084,76","2.143,96","2.188,46","2.188,76","2.239,06","2.312,76","2.303,36","2.276,26","2.221,06","2.145,46","2.196,66","2.126,56","1.966,56","1.784,56","1.583,86","1.527,26","1.441,26","1.361,86","1.471,56","1.573,96","1.708,96","1.771,76","1.904,46","1.977,66","2.023,36","2.102,76","2.169,16","2.099,96","2.166,16","2.269,36","2.215,36","2.126,96","2.043,56","2.108,16","2.191,26","2.261,26","2.188,66","2.101,56","2.018,66","2.113,36","2.180,16","2.145,36","2.197,16","2.283,86","2.430,76","2.531,36","2.699,66","2.925,86","3.049,86","3.284,06","3.142,06","3.034,06","3.083,76","3.030,86","2.979,46","3.136,56","3.230,06","3.423,16","3.631,96","3.536,16","3.690,76","4.300,06","4.500,06","4.299,26","4.149,26","3.970,66","3.720,66","3.520,66","3.750,66","3.620,66","3.746,70","3.746,90","3.346,90","3.216,90","3.076,90","3.486,90","3.361,40","3.361,60","3.561,60"

In [ ]:
import numpy as np
import pandas as pd

# Função para converter números no formato brasileiro para float
def converter_para_float(valor):
    if isinstance(valor, str):  # Verifica se é string
        valor = valor.strip()  # Remove espaços em branco extras
        if valor == "":  # Se for string vazia, retorna NaN
            return np.nan
        try:
            return float(valor.replace(".", "").replace(",", "."))  # Converte para float
        except ValueError:  # Se não puder converter, retorna NaN
            return np.nan
    return valor  # Se já for número, retorna o valor original

# Lista das colunas que queremos manter como texto
colunas_texto = ["LOCAL", "MODALIDADE DE VENDA"]

# Aplicar a conversão a todas as colunas, exceto as que queremos manter como texto
df_pag10_union = df_pag10_union.apply(
    lambda col: col.apply(converter_para_float) if col.name not in colunas_texto else col
)

# Verificar os tipos das colunas
df_pag10_union.info()

In [137]:
df_pag10_union.to_excel('C:/Users/Samsung/Documents/GitHub-Datas/Case_Petrobahia/Tabela_de_Preco_Pagina_10.xlsx', index=False)

#### Tratamento página 11.

In [11]:
# Substituir colunas sem nome (None) por 'Legenda'
dfs_por_pagina["pagina_11"].columns = dfs_por_pagina["pagina_11"].columns.fillna('Legenda')

In [46]:
df_pag11 = dfs_por_pagina["pagina_11"].copy()
df_pag11.tail()

,Modalidade de Venda,Legenda,Descrição
4,ETM,Entrega no Tanque de Destino Marítimo,Entrega no terminal de destino a partir de nav...
5,LTM,Livre no Terminal Marítimo,Entrega no terminal de destino a partir de nav...
6,ETT,Entregue no Terminal Terrestre,Entrega diretamente na Estação de Descarregame...
7,ETD,Entrega no Tanque de Destino,Entrega do produto se dá mediante troca de pro...
8,LPD,Livre para Descarga,Aentregaseráfeitapor Veículode Entregaestacion...

In [60]:
import pdfplumber
import pandas as pd

# Caminho do arquivo PDF
pdf_path_11 = "C:/Users/Samsung/Documents/GitHub-Datas/Case_Petrobahia/Tabelas de Preços - Gasolina 01-02-25.pdf"

# Lista para armazenar DataFrames de cada tabela encontrada na página 11
tabelas_pag11 = []

# Configurações customizadas para extração de tabela
table_settings = {
    "vertical_strategy": "lines",        # Usar linhas para identificar colunas
    "horizontal_strategy": "lines",      # Usar linhas para identificar linhas
    "intersection_tolerance": 5,
    "snap_tolerance": 3,
    "join_tolerance": 3,
    "char_margin": 2,                    # Aumente esse valor para forçar mais separação entre caracteres
    "line_margin": 0.5,
    "min_words_vertical": 1,
    "min_words_horizontal": 1,
}

with pdfplumber.open(pdf_path_11) as pdf:
    pagina11 = pdf.pages[10]  # Página 11 (índice 10)
    # Extrair as tabelas usando as configurações customizadas
    tabelas = pagina11.extract_tables(table_settings)

    for tabela in tabelas:
        df_temp = pd.DataFrame(tabela)  # Converter a tabela em DataFrame
        tabelas_pag11.append(df_temp)

# Concatenar todas as tabelas extraídas em um único DataFrame
df_pag11 = pd.concat(tabelas_pag11, ignore_index=True)

# Exibir o DataFrame resultante
print(df_pag11)

TypeError: __init__() got an unexpected keyword argument 'char_margin'

In [27]:
import re

# Função para corrigir as palavras unidas
def corrigir_palavras_unidas(texto):
    # Substituir todas as quebras de linha (\n) por espaço
    texto = texto.replace('\n', ' ')
    
    # Expressão regular para identificar palavras coladas, mesmo quando não há mudança de maiúscula/minúscula
    texto_corrigido = re.sub(r'([a-z])([A-Z])', r'\1 \2', texto)  # Corrige a união de minúscula e maiúscula
    texto_corrigido = re.sub(r'([a-zA-Z])([0-9])', r'\1 \2', texto_corrigido)  # Corrige a união de palavras com números
    texto_corrigido = re.sub(r'([0-9])([a-zA-Z])', r'\1 \2', texto_corrigido)  # Corrige a união de números com palavras
    return texto_corrigido

# Aplicar a função de correção
df_pag11['Legenda'] = df_pag11['Legenda'].apply(corrigir_palavras_unidas)
df_pag11['Descrição'] = df_pag11['Descrição'].apply(corrigir_palavras_unidas)

# Verificar o resultado
df_pag11.head()

,Modalidade de Venda,Legenda,Descrição
0,EXA,Ex-Ponto “A”,"Entrega por duto a serviço da COMPRADORA, inte..."
1,LPA,Livre para o Armazém,"Entrega por duto, ou trecho de duto, a serviço..."
2,LCT,Livre no Compartimento de Carga do Veículo Rec...,Entrega diretamente no Veiculo Recebedor estac...
3,LPC,Livre para Carregamento,Entrega diretamente na Estação de Carregamento...
4,ETM,Entrega no Tanque de Destino Marítimo,Entrega no terminal de destino a partir de nav...

In [70]:
df_pag11.to_excel('C:/Users/Samsung/Documents/GitHub-Datas/Case_Petrobahia/Tabela_de_Preco_Pagina_11.xlsx', index=False)

In [61]:
pip install pymupdf

Collecting pymupdf
  Downloading pymupdf-1.25.4-cp39-abi3-win_amd64.whl.metadata (3.4 kB)
Downloading pymupdf-1.25.4-cp39-abi3-win_amd64.whl (16.6 MB)
   ---------------------------------------- 0.0/16.6 MB ? eta -:--:--
   -- ------------------------------------- 1.0/16.6 MB 8.4 MB/s eta 0:00:02
   --------- ------------------------------ 3.9/16.6 MB 15.7 MB/s eta 0:00:01
   ---------------------- ----------------- 9.2/16.6 MB 17.3 MB/s eta 0:00:01
   ------------------------------ --------- 12.6/16.6 MB 17.1 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.6 MB 16.8 MB/s eta 0:00:01
   ---------------------------------------  16.5/16.6 MB 17.1 MB/s eta 0:00:01
   ---------------------------------------  16.5/16.6 MB 17.1 MB/s eta 0:00:01
   ---------------------------------------  16.5/16.6 MB 17.1 MB/s eta 0:00:01
   ---------------------------------------  16.5/16.6 MB 17.1 MB/s eta 0:00:01
   ---------------------------------------  16.5/16.6 MB 17.1 MB/s eta 0:00:01
   ---------------------------------------  16.5/16.6 MB 17.1 MB/s eta 0:00:01
   ---------------------------------------  16.5/16.6 MB 17.1 MB/s eta 0:00:01
   ---------------------------------------  16.5/16.6 MB 17.1 MB/s eta 0:00:01
   ---------------------------------------  16.5/16.6 MB 17.1 MB/s eta 0:00:01
   ---------------------------------------- 16.6/16.6 MB 5.5 MB/s eta 0:00:00
Installing collected packages: pymupdf
Successfully installed pymupdf-1.25.4
Note: you may need to restart the kernel to use updated packages.

In [77]:
import pdfplumber
import pandas as pd

# Caminho do arquivo PDF
pdf_path = "C:/Users/Samsung/Documents/GitHub-Datas/Case_Petrobahia/Tabelas de Preços - Gasolina 01-02-25.pdf"

# Abrir o PDF com pdfplumber
with pdfplumber.open(pdf_path) as pdf:
    pagina11 = pdf.pages[10]  # Página 11 tem índice 10
    
    # Extrair tabelas da página
    tabelas = pagina11.extract_tables()

# Verificar se as tabelas foram extraídas corretamente
if tabelas:
    # Vamos supor que a primeira tabela extraída seja a que queremos
    df_pag11 = pd.DataFrame(tabelas[0])

    # Exibir a tabela extraída em formato DataFrame
    print("\nTabela Extraída:")
    print(df_pag11)
else:
    print("Nenhuma tabela foi extraída da página.")

Tabela Extraída:
                     0                                                  1  \
0  Modalidade de Venda                                               None
1                  EXA                                       Ex-Ponto “A”
2                  LPA                               Livre para o Armazém
3                  LCT  Livre no Compartimento\nde Carga do Veículo\nR...
4                  LPC                            Livre para Carregamento
5                  ETM             Entrega no Tanque de\nDestino Marítimo
6                  LTM                        Livre no Terminal\nMarítimo
7                  ETT                    Entregue no Terminal\nTerrestre
8                  ETD                      Entrega no Tanque de\nDestino
9                  LPD                                Livre para Descarga

                                                   2
0                                          Descrição
1  Entrega por duto a serviço da COMPRADORA, inte...
2  Entrega por duto, ou trecho de duto, a serviço...
3  Entrega diretamente no Veiculo Recebedor estac...
4  Entrega diretamente na Estação de Carregamento...
5  Entrega no terminal de destino a partir de nav...
6  Entrega no terminal de destino a partir de nav...
7  Entrega diretamente na Estação de Descarregame...
8  Entrega do produto se dá mediante troca de pro...
9  AentregaseráfeitaporVeículodeEntregaestacionad...

In [80]:
df_pag11.tail(20)

                                                    0
25  Entrega no terminal de destino a partir de nav...
26               descarga contratada pela COMPRADORA.
27                                                ETT
28                              Entregue no Terminal
29                                         Terrestre
30  Entrega diretamente na Estação de Descarregame...
31  descarga do Veículo de Entrega, ou diretamente...
32                  por duto a serviço da PETROBRAS.
33                                                ETD
34                              Entrega no Tanque de
35                                            Destino
36  Entrega do produto se dá mediante troca de pro...
37                                                LPD
38                                Livre para Descarga
39  A entrega será feita por Veículo de Entrega es...
40                de destino a serviço da COMPRADORA.
41                                Modalidade de Venda
42                                          # PÚBLICA
43  Os preços publicados atendem a Resolução ANP n...
44

In [79]:
import fitz  # PyMuPDF
import pandas as pd
import re

# Função para corrigir palavras unidas
def split_concatenated_words(texto):
    texto = re.sub(r'([a-z])([A-Z])', r'\1 \2', texto)  # Separar palavras coladas que começam com maiúsculas
    return texto

# Caminho do arquivo PDF
pdf_path = "C:/Users/Samsung/Documents/GitHub-Datas/Case_Petrobahia/Tabelas de Preços - Gasolina 01-02-25.pdf"

# Abrir o PDF com PyMuPDF
doc = fitz.open(pdf_path)

# Extrair o texto da página 11 (índice 10)
pagina11 = doc.load_page(10)  # Página 11 tem índice 10
texto = pagina11.get_text("text")  # Extração de texto da página inteira

# Exibir o texto extraído para análise
print(texto)

# Vamos dividir o texto em linhas e depois em colunas
linhas = texto.split("\n")

# Vamos supor que as colunas estão separadas por espaços
# Você pode ajustar o padrão conforme necessário, mas aqui estamos dividindo por múltiplos espaços
tabela_extraida = [re.split(r'\s{2,}', linha) for linha in linhas]

# Converter para DataFrame para visualização
df_pag11 = pd.DataFrame(tabela_extraida)

# Exibir o DataFrame com as linhas e colunas extraídas
print("\nTabela Extraída:")
print(df_pag11)

# Supondo que a coluna de texto que precisa ser corrigida seja a última
# Aplicar a correção de palavras unidas na coluna de texto
df_pag11[df_pag11.columns[-1]] = df_pag11[df_pag11.columns[-1]].apply(split_concatenated_words)

# Exibir o DataFrame resultante
print("\nDataFrame com as palavras corrigidas:")
print(df_pag11)

Descrição
EXA
Ex-Ponto “A”
Entrega por duto a serviço da COMPRADORA, interligado ao Ponto “A” ou Flange de
Interconexão dos Ativos, ambos dentro da Área Operacional da Unidade Fornecedora.
LPA
Livre para o Armazém
Entrega por duto, ou trecho de duto, a serviço da PETROBRAS, interligado a Flange de
Interconexão dos Ativos fora da Área Operacional da Unidade Fornecedora.
LCT
Livre no Compartimento
de Carga do Veículo
Recebedor
Entrega diretamente no Veiculo Recebedor estacionado junto à plataforma da Estação de
Carregamento a serviço da PETROBRAS.
LPC
Livre para Carregamento Entrega diretamente na Estação de Carregamento a serviço da COMPRADORA
ETM
Entrega no Tanque de
Destino Marítimo
Entrega no terminal de destino a partir de navio a serviço da PETROBRAS, com operação de
descarga contratada pela PETROBRAS.
LTM
Livre no Terminal
Marítimo
Entrega no terminal de destino a partir de navio a serviço da PETROBRAS, com operação de
descarga contratada pela COMPRADORA.
ETT
Entregue no Terminal
Terrestre
Entrega diretamente na Estação de Descarregamento a serviço da COMPRADORA a partir da
descarga do Veículo de Entrega, ou diretamente no tanque recebedor, quando a entrega se der
por duto a serviço da PETROBRAS.
ETD
Entrega no Tanque de
Destino
Entrega do produto se dá mediante troca de propriedade no tanque da Base Recebedora.
LPD
Livre para Descarga
A entrega será feita por Veículo de Entrega estacionado na plataforma de descarga do terminal
de destino a serviço da COMPRADORA.
Modalidade de Venda
# PÚBLICA
Os preços publicados atendem a Resolução ANP nº 795, de 05/07/2019.


Tabela Extraída:
                                                    0
0                                           Descrição
1                                                 EXA
2                                       Ex-Ponto “A”
3   Entrega por duto a serviço da COMPRADORA, inte...
4   Interconexão dos Ativos, ambos dentro da Área ...
5                                                 LPA
6                                Livre para o Armazém
7   Entrega por duto, ou trecho de duto, a serviço...
8   Interconexão dos Ativos fora da Área Operacion...
9                                                 LCT
10                            Livre no Compartimento
11                               de Carga do Veículo
12                                         Recebedor
13  Entrega diretamente no Veiculo Recebedor estac...
14              Carregamento a serviço da PETROBRAS.
15                                                LPC
16  Livre para Carregamento Entrega diretamente na...
17                                                ETM
18                              Entrega no Tanque de
19                                  Destino Marítimo
20  Entrega no terminal de destino a partir de nav...
21                descarga contratada pela PETROBRAS.
22                                                LTM
23                                 Livre no Terminal
24                                          Marítimo
25  Entrega no terminal de destino a partir de nav...
26               descarga contratada pela COMPRADORA.
27                                                ETT
28                              Entregue no Terminal
29                                         Terrestre
30  Entrega diretamente na Estação de Descarregame...
31  descarga do Veículo de Entrega, ou diretamente...
32                  por duto a serviço da PETROBRAS.
33                                                ETD
34                              Entrega no Tanque de
35                                            Destino
36  Entrega do produto se dá mediante troca de pro...
37                                                LPD
38                                Livre para Descarga
39  A entrega será feita por Veículo de Entrega es...
40                de destino a serviço da COMPRADORA.
41                                Modalidade de Venda
42                                          # PÚBLICA
43  Os preços publicados atendem a Resolução ANP n...
44

DataFrame com as palavras corrigidas:
                                                    0
0                                           Descrição
1                                                 EXA
2                                       Ex-Ponto “A”
3   Entrega por duto a serviço da COMPRADORA, inte...
4   Interconexão dos Ativos, ambos dentro da Área ...
5                                                 LPA
6                                Livre para o Armazém
7   Entrega por duto, ou trecho de duto, a serviço...
8   Interconexão dos Ativos fora da Área Operacion...
9                                                 LCT
10                            Livre no Compartimento
11                               de Carga do Veículo
12                                         Recebedor
13  Entrega diretamente no Veiculo Recebedor estac...
14              Carregamento a serviço da PETROBRAS.
15                                                LPC
16  Livre para Carregamento Entrega diretamente na...
17                                                ETM
18                              Entrega no Tanque de
19                                  Destino Marítimo
20  Entrega no terminal de destino a partir de nav...
21                descarga contratada pela PETROBRAS.
22                                                LTM
23                                 Livre no Terminal
24                                          Marítimo
25  Entrega no terminal de destino a partir de nav...
26               descarga contratada pela COMPRADORA.
27                                                ETT
28                              Entregue no Terminal
29                                         Terrestre
30  Entrega diretamente na Estação de Descarregame...
31  descarga do Veículo de Entrega, ou diretamente...
32                  por duto a serviço da PETROBRAS.
33                                                ETD
34                              Entrega no Tanque de
35                                            Destino
36  Entrega do produto se dá mediante troca de pro...
37                                                LPD
38                                Livre para Descarga
39  A entrega será feita por Veículo de Entrega es...
40                de destino a serviço da COMPRADORA.
41                                Modalidade de Venda
42                                          # PÚBLICA
43  Os preços publicados atendem a Resolução ANP n...
44