In [ ]:
pip install pdfplumber

In [54]:
import pdfplumber
import pandas as pd
import os
import numpy as np
pd.set_option('display.max_columns', None) # Mostrar todas as colunas

In [19]:
import pdfplumber
import pandas as pd

# Caminho do arquivo PDF
pdf_path = "C:/Users/Samsung/Documents/GitHub-Datas/Case_Petrobahia/Tabelas de Preços - Gasolina 01-02-25.pdf"

# Dicionário para armazenar DataFrames de cada página
dfs_por_pagina = {}

# Abrir o PDF
with pdfplumber.open(pdf_path) as pdf:
    for i, page in enumerate(pdf.pages, start=1):
        table = page.extract_table()
        if table:
            df = pd.DataFrame(table[1:], columns=table[0])  # Primeira linha como cabeçalho
            dfs_por_pagina[f"pagina_{i}"] = df

# Exemplo: acessar o DataFrame da página 1
print(dfs_por_pagina["pagina_1"].head())

            LOCAL MODALIDADE\nDE VENDA 01.08.2019 16.08.2019 28.08.2019  \
0  Araucária (PR)                  EXA   1.686,70   1.586,70   1.642,80
1  Araucária (PR)                  LPA   1.688,70   1.588,70   1.644,80
2  Araucária (PR)                  ETD
3    Barueri (SP)                  EXA   1.788,90   1.688,90   1.745,00
4    Barueri (SP)                  LPA   1.793,20   1.693,20   1.749,30

  05.09.2019 19.09.2019 27.09.2019 01.11.2019 19.11.2019 27.11.2019  \
0   1.665,10   1.724,30   1.768,80   1.768,80   1.819,10   1.892,80
1   1.667,10   1.726,30   1.770,80   1.771,10   1.821,40   1.895,10
2
3   1.767,30   1.826,50   1.871,00   1.871,00   1.921,30   1.995,00
4   1.771,60   1.830,80   1.875,30   1.875,30   1.925,60   1.999,30

  01.12.2019 14.01.2020 24.01.2020 31.01.2020 06.02.2020 20.02.2020 29.02.2020
0   1.892,80   1.859,10   1.832,00   1.776,80   1.701,20   1.752,40   1.682,30
1   1.895,10   1.861,40   1.834,30   1.779,10   1.703,50   1.754,70   1.684,60
2
3   1.995,00   1.938,00   1.910,90   1.855,70   1.780,10   1.831,30   1.761,20
4   1.996,90   1.939,90   1.912,80   1.857,60   1.782,00   1.833,20   1.763,10

In [20]:
dfs_por_pagina["pagina_1"].head()

,LOCAL,MODALIDADE\nDE VENDA,01.08.2019,16.08.2019,28.08.2019,05.09.2019,19.09.2019,27.09.2019,01.11.2019,19.11.2019,27.11.2019,01.12.2019,14.01.2020,24.01.2020,31.01.2020,06.02.2020,20.02.2020,29.02.2020
0,Araucária (PR),EXA,"1.686,70","1.586,70","1.642,80","1.665,10","1.724,30","1.768,80","1.768,80","1.819,10","1.892,80","1.892,80","1.859,10","1.832,00","1.776,80","1.701,20","1.752,40","1.682,30"
1,Araucária (PR),LPA,"1.688,70","1.588,70","1.644,80","1.667,10","1.726,30","1.770,80","1.771,10","1.821,40","1.895,10","1.895,10","1.861,40","1.834,30","1.779,10","1.703,50","1.754,70","1.684,60"
2,Araucária (PR),ETD,,,,,,,,,,,,,,,,
3,Barueri (SP),EXA,"1.788,90","1.688,90","1.745,00","1.767,30","1.826,50","1.871,00","1.871,00","1.921,30","1.995,00","1.995,00","1.938,00","1.910,90","1.855,70","1.780,10","1.831,30","1.761,20"
4,Barueri (SP),LPA,"1.793,20","1.693,20","1.749,30","1.771,60","1.830,80","1.875,30","1.875,30","1.925,60","1.999,30","1.996,90","1.939,90","1.912,80","1.857,60","1.782,00","1.833,20","1.763,10"

In [12]:
dfs_por_pagina["pagina_1"].tail()

,LOCAL,MODALIDADE\nDE VENDA,01.08.2019,16.08.2019,28.08.2019,05.09.2019,19.09.2019,27.09.2019,01.11.2019,19.11.2019,27.11.2019,01.12.2019,14.01.2020,24.01.2020,31.01.2020,06.02.2020,20.02.2020,29.02.2020
96,Vila Velha (ES),LTM,"1.714,60","1.614,60","1.670,70","1.693,00","1.752,20","1.796,70","1.796,70","1.847,00","1.920,70","1.920,70","1.812,60","1.785,50","1.730,30","1.654,70","1.705,90","1.635,80"
97,Vitória (ES),EXA,"1.769,60","1.669,60","1.725,70","1.748,00","1.807,20","1.851,70","1.851,70","1.902,00","1.975,70","1.975,70","1.867,60","1.840,50","1.785,30","1.709,70","1.760,90","1.690,80"
98,Vitória (ES),LTM,"1.714,60","1.614,60","1.670,70","1.693,00","1.752,20","1.796,70","1.796,70","1.847,00","1.920,70","1.920,70","1.812,60","1.785,50","1.730,30","1.654,70","1.705,90","1.635,80"
99,Volta Redonda (RJ),EXA,"1.753,00","1.653,00","1.709,10","1.731,40","1.790,60","1.835,10","1.835,10","1.885,40","1.959,10","1.959,10","1.949,70","1.922,60","1.867,40","1.791,80","1.843,00","1.772,90"
100,Volta Redonda (RJ),LPC,"1.764,00","1.664,00","1.720,10","1.742,40","1.801,60","1.846,10","1.846,10","1.896,40","1.970,10","1.970,10","1.960,70","1.933,60","1.878,40","1.802,80","1.854,00","1.783,90"

In [41]:
dfs_por_pagina["pagina_10"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LOCAL                2 non-null      object
 1   MODALIDADE
DE VENDA  2 non-null      object
 2   01.08.2019           2 non-null      object
 3   16.08.2019           2 non-null      object
 4   28.08.2019           2 non-null      object
 5   05.09.2019           2 non-null      object
 6   19.09.2019           2 non-null      object
 7   27.09.2019           2 non-null      object
 8   01.11.2019           2 non-null      object
 9   19.11.2019           2 non-null      object
 10  27.11.2019           2 non-null      object
 11  14.01.2020           2 non-null      object
 12  24.01.2020           2 non-null      object
 13  31.01.2020           2 non-null      object
 14  06.02.2020           2 non-null      object
 15  20.02.2020           2 non-null      object
 16  29.02.2020           2 non-null      object
dtypes: object(17)
memory usage: 400.0+ bytes

In [22]:
dfs_por_pagina["pagina_1"] = dfs_por_pagina["pagina_1"].rename(columns={'MODALIDADE\nDE VENDA': 'MODALIDADE DE VENDA'})
dfs_por_pagina["pagina_1"].head()

,LOCAL,MODALIDADE DE VENDA,01.08.2019,16.08.2019,28.08.2019,05.09.2019,19.09.2019,27.09.2019,01.11.2019,19.11.2019,27.11.2019,01.12.2019,14.01.2020,24.01.2020,31.01.2020,06.02.2020,20.02.2020,29.02.2020
0,Araucária (PR),EXA,"1.686,70","1.586,70","1.642,80","1.665,10","1.724,30","1.768,80","1.768,80","1.819,10","1.892,80","1.892,80","1.859,10","1.832,00","1.776,80","1.701,20","1.752,40","1.682,30"
1,Araucária (PR),LPA,"1.688,70","1.588,70","1.644,80","1.667,10","1.726,30","1.770,80","1.771,10","1.821,40","1.895,10","1.895,10","1.861,40","1.834,30","1.779,10","1.703,50","1.754,70","1.684,60"
2,Araucária (PR),ETD,,,,,,,,,,,,,,,,
3,Barueri (SP),EXA,"1.788,90","1.688,90","1.745,00","1.767,30","1.826,50","1.871,00","1.871,00","1.921,30","1.995,00","1.995,00","1.938,00","1.910,90","1.855,70","1.780,10","1.831,30","1.761,20"
4,Barueri (SP),LPA,"1.793,20","1.693,20","1.749,30","1.771,60","1.830,80","1.875,30","1.875,30","1.925,60","1.999,30","1.996,90","1.939,90","1.912,80","1.857,60","1.782,00","1.833,20","1.763,10"

In [26]:
# Lista das colunas que queremos manter como texto
colunas_texto = ["LOCAL", "MODALIDADE DE VENDA"]

# Função para converter números no formato brasileiro para float
def converter_para_float(valor):
    if isinstance(valor, str):  # Apenas se for string
        valor = valor.strip()  # Remover espaços em branco extras
        if valor == "":  # Se for string vazia, retorna NaN
            return np.nan
        try:
            return float(valor.replace(".", "").replace(",", "."))
        except ValueError:  # Se não puder converter, retorna NaN
            return np.nan
    return valor  # Mantém valores que já são numéricos

# Aplicar a conversão a todas as colunas, exceto as que queremos manter como texto
dfs_por_pagina["pagina_1"].loc[:, ~dfs_por_pagina["pagina_1"].columns.isin(colunas_texto)] = \
    dfs_por_pagina["pagina_1"].loc[:, ~dfs_por_pagina["pagina_1"].columns.isin(colunas_texto)].applymap(converter_para_float)

# Verificar os tipos das colunas
dfs_por_pagina["pagina_1"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LOCAL                101 non-null    object
 1   MODALIDADE DE VENDA  101 non-null    object
 2   01.08.2019           71 non-null     object
 3   16.08.2019           71 non-null     object
 4   28.08.2019           71 non-null     object
 5   05.09.2019           71 non-null     object
 6   19.09.2019           71 non-null     object
 7   27.09.2019           71 non-null     object
 8   01.11.2019           70 non-null     object
 9   19.11.2019           70 non-null     object
 10  27.11.2019           70 non-null     object
 11  01.12.2019           70 non-null     object
 12  14.01.2020           70 non-null     object
 13  24.01.2020           70 non-null     object
 14  31.01.2020           70 non-null     object
 15  06.02.2020           71 non-null     object
 16  20.02.2020           71 non-null     object
 17  29.02.2020           71 non-null     object
dtypes: object(18)
memory usage: 14.3+ KB

In [27]:
dfs_por_pagina["pagina_1"].head()

,LOCAL,MODALIDADE DE VENDA,01.08.2019,16.08.2019,28.08.2019,05.09.2019,19.09.2019,27.09.2019,01.11.2019,19.11.2019,27.11.2019,01.12.2019,14.01.2020,24.01.2020,31.01.2020,06.02.2020,20.02.2020,29.02.2020
0,Araucária (PR),EXA,1686.7,1586.7,1642.8,1665.1,1724.3,1768.8,1768.8,1819.1,1892.8,1892.8,1859.1,1832.0,1776.8,1701.2,1752.4,1682.3
1,Araucária (PR),LPA,1688.7,1588.7,1644.8,1667.1,1726.3,1770.8,1771.1,1821.4,1895.1,1895.1,1861.4,1834.3,1779.1,1703.5,1754.7,1684.6
2,Araucária (PR),ETD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Barueri (SP),EXA,1788.9,1688.9,1745.0,1767.3,1826.5,1871.0,1871.0,1921.3,1995.0,1995.0,1938.0,1910.9,1855.7,1780.1,1831.3,1761.2
4,Barueri (SP),LPA,1793.2,1693.2,1749.3,1771.6,1830.8,1875.3,1875.3,1925.6,1999.3,1996.9,1939.9,1912.8,1857.6,1782.0,1833.2,1763.1

In [28]:
dfs_por_pagina["pagina_1"].to_excel('C:/Users/Samsung/Documents/GitHub-Datas/Case_Petrobahia/Tabela_de_Preco_Pagina_1.xlsx', index=False)

In [42]:
import pdfplumber
import pandas as pd

# Caminho do arquivo PDF
pdf_path_10 = "C:/Users/Samsung/Documents/GitHub-Datas/Case_Petrobahia/Tabelas de Preços - Gasolina 01-02-25.pdf"

# Lista para armazenar DataFrames de cada tabela encontrada na página 10
tabelas_pag10 = []

# Abrindo o PDF e extraindo apenas a página 10 (índice 9, pois começa em 0)
with pdfplumber.open(pdf_path_10) as pdf:
    pagina10 = pdf.pages[9]  # Página 10 tem índice 9
    tabelas = pagina10.extract_tables()

    # Converter cada tabela extraída em um DataFrame
    for tabela in tabelas:
        df_temp = pd.DataFrame(tabela[1:], columns=tabela[0])  # Primeira linha como cabeçalho
        tabelas_pag10.append(df_temp)

# Concatenar todas as tabelas extraídas em um único DataFrame
df_pag10 = pd.concat(tabelas_pag10, ignore_index=True)

df_pag10

,LOCAL,MODALIDADE\nDE VENDA,01.08.2019,16.08.2019,28.08.2019,05.09.2019,19.09.2019,27.09.2019,01.11.2019,19.11.2019,...,01.03.2023,01.04.2023,01.05.2023,17.05.2023,16.06.2023,01.07.2023,16.08.2023,21.10.2023,01.04.2024,09.07.2024
0,Duque de Caxias (RJ),EXA,"2.104,36","2.004,36","2.060,46","2.082,76","2.141,96","2.186,46","2.186,46","2.236,76",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Duque de Caxias (RJ),LPA,"2.106,36","2.006,36","2.062,46","2.084,76","2.143,96","2.188,46","2.188,76","2.239,06",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Duque de Caxias (RJ),EXA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Duque de Caxias (RJ),LPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Duque de Caxias (RJ),EXA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Duque de Caxias (RJ),LPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Duque de Caxias (RJ),EXA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Duque de Caxias (RJ),LPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Duque de Caxias (RJ),EXA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"3.618,36",,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Duque de Caxias (RJ),LPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"3.620,66","3.746,70","3.746,90",NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Duque de Caxias (RJ),EXA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,,,,,,,
11,Duque de Caxias (RJ),LPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"3.346,90","3.216,90","3.076,90","3.486,90","3.361,40","3.361,60","3.561,60"

In [43]:
import pdfplumber
import pandas as pd

# Caminho do arquivo PDF
pdf_path_10 = "C:/Users/Samsung/Documents/GitHub-Datas/Case_Petrobahia/Tabelas de Preços - Gasolina 01-02-25.pdf"

# Lista para armazenar DataFrames de cada tabela encontrada na página 10
tabelas_pag10 = []

# Abrindo o PDF e extraindo apenas a página 10 (índice 9, pois começa em 0)
with pdfplumber.open(pdf_path_10) as pdf:
    pagina10 = pdf.pages[9]  # Página 10 tem índice 9
    tabelas = pagina10.extract_tables()

    # Converter cada tabela extraída em um DataFrame sem ajustar cabeçalho
    for tabela in tabelas:
        df_temp = pd.DataFrame(tabela)  # Não definir cabeçalho
        tabelas_pag10.append(df_temp)

# Concatenar todas as tabelas extraídas em um único DataFrame
df_pag10 = pd.concat(tabelas_pag10, ignore_index=True)

# Exibir o DataFrame resultante
print(df_pag10)

                      0                     1           2           3   \
0                  LOCAL  MODALIDADE\nDE VENDA  01.08.2019  16.08.2019
1   Duque de Caxias (RJ)                   EXA    2.104,36    2.004,36
2   Duque de Caxias (RJ)                   LPA    2.106,36    2.006,36
3                  LOCAL  MODALIDADE\nDE VENDA  13.03.2020  19.03.2020
4   Duque de Caxias (RJ)                   EXA    1.964,26    1.782,26
5   Duque de Caxias (RJ)                   LPA    1.966,56    1.784,56
6                  LOCAL  MODALIDADE\nDE VENDA  31.07.2020  13.08.2020
7   Duque de Caxias (RJ)                   EXA    2.097,66    2.163,86
8   Duque de Caxias (RJ)                   LPA    2.099,96    2.166,16
9                  LOCAL  MODALIDADE\nDE VENDA  16.12.2020  29.12.2020
10  Duque de Caxias (RJ)                   EXA    2.194,86    2.281,56
11  Duque de Caxias (RJ)                   LPA    2.197,16    2.283,86
12                 LOCAL  MODALIDADE\nDE VENDA  09.10.2021  26.10.2021
13  Duque de Caxias (RJ)                   EXA    3.420,86    3.629,66
14  Duque de Caxias (RJ)                   LPA    3.423,16    3.631,96
15                 LOCAL  MODALIDADE\nDE VENDA  17.05.2023  16.06.2023
16  Duque de Caxias (RJ)                   EXA
17  Duque de Caxias (RJ)                   LPA    3.346,90    3.216,90

            4           5           6           7           8           9   \
0   28.08.2019  05.09.2019  19.09.2019  27.09.2019  01.11.2019  19.11.2019
1     2.060,46    2.082,76    2.141,96    2.186,46    2.186,46    2.236,76
2     2.062,46    2.084,76    2.143,96    2.188,46    2.188,76    2.239,06
3   25.03.2020  28.03.2020  15.04.2020  21.04.2020  07.05.2020  14.05.2020
4     1.581,56    1.524,96    1.438,96    1.359,56    1.469,26    1.571,66
5     1.583,86    1.527,26    1.441,26    1.361,86    1.471,56    1.573,96
6   21.08.2020  03.09.2020  09.09.2020  11.09.2020  23.09.2020  30.09.2020
7     2.267,06    2.213,06    2.124,66    2.041,26    2.105,86    2.188,96
8     2.269,36    2.215,36    2.126,96    2.043,56    2.108,16    2.191,26
9   19.01.2021  27.01.2021  09.02.2021  19.02.2021  02.03.2021  09.03.2021
10    2.428,46    2.529,06    2.697,36    2.923,56    3.047,56    3.281,76
11    2.430,76    2.531,36    2.699,66    2.925,86    3.049,86    3.284,06
12  15.12.2021  12.01.2022  11.03.2022  18.06.2022  20.07.2022  29.07.2022
13    3.533,86    3.688,46    4.297,76    4.497,76    4.296,96    4.146,96
14    3.536,16    3.690,76    4.300,06    4.500,06    4.299,26    4.149,26
15  01.07.2023  16.08.2023  21.10.2023  01.04.2024  09.07.2024         NaN
16                                                                     NaN
17    3.076,90    3.486,90    3.361,40    3.361,60    3.561,60         NaN

            10          11          12          13          14          15  \
0   27.11.2019  14.01.2020  24.01.2020  31.01.2020  06.02.2020  20.02.2020
1     2.310,46    2.301,06    2.273,96    2.218,76    2.143,16    2.194,36
2     2.312,76    2.303,36    2.276,26    2.221,06    2.145,46    2.196,66
3   21.05.2020  27.05.2020  09.06.2020  19.06.2020  02.07.2020  08.07.2020
4     1.706,66    1.769,46    1.902,16    1.975,36    2.021,06    2.100,46
5     1.708,96    1.771,76    1.904,46    1.977,66    2.023,36    2.102,76
6   10.10.2020  16.10.2020  27.10.2020  31.10.2020  12.11.2020  26.11.2020
7     2.258,96    2.186,36    2.099,26    2.016,36    2.111,06    2.177,86
8     2.261,26    2.188,66    2.101,56    2.018,66    2.113,36    2.180,16
9   20.03.2021  25.03.2021  16.04.2021  01.05.2021  12.06.2021  06.07.2021
10    3.139,76    3.031,76    3.081,46    3.028,56    2.977,16    3.134,26
11    3.142,06    3.034,06    3.083,76    3.030,86    2.979,46    3.136,56
12  16.08.2022  02.09.2022  07.12.2022  25.01.2023  01.03.2023  01.04.2023
13    3.968,36    3.718,36    3.518,36    3.748,36    3.618,36
14    3.970,66    3.720,66    3.520,66    3.750,66    3.620,66    3.746,70
15         NaN         NaN         NaN         NaN         NaN         NaN
16         NaN         NaN         NaN         NaN         NaN         NaN
17         NaN         NaN         NaN         NaN         NaN         NaN

            16
0   29.02.2020
1     2.124,26
2     2.126,56
3   17.07.2020
4     2.166,86
5     2.169,16
6   03.12.2020
7     2.143,06
8     2.145,36
9   12.08.2021
10    3.227,76
11    3.230,06
12  01.05.2023
13
14    3.746,90
15         NaN
16         NaN
17         NaN

In [44]:
df_pag10

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,LOCAL,MODALIDADE\nDE VENDA,01.08.2019,16.08.2019,28.08.2019,05.09.2019,19.09.2019,27.09.2019,01.11.2019,19.11.2019,27.11.2019,14.01.2020,24.01.2020,31.01.2020,06.02.2020,20.02.2020,29.02.2020
1,Duque de Caxias (RJ),EXA,"2.104,36","2.004,36","2.060,46","2.082,76","2.141,96","2.186,46","2.186,46","2.236,76","2.310,46","2.301,06","2.273,96","2.218,76","2.143,16","2.194,36","2.124,26"
2,Duque de Caxias (RJ),LPA,"2.106,36","2.006,36","2.062,46","2.084,76","2.143,96","2.188,46","2.188,76","2.239,06","2.312,76","2.303,36","2.276,26","2.221,06","2.145,46","2.196,66","2.126,56"
3,LOCAL,MODALIDADE\nDE VENDA,13.03.2020,19.03.2020,25.03.2020,28.03.2020,15.04.2020,21.04.2020,07.05.2020,14.05.2020,21.05.2020,27.05.2020,09.06.2020,19.06.2020,02.07.2020,08.07.2020,17.07.2020
4,Duque de Caxias (RJ),EXA,"1.964,26","1.782,26","1.581,56","1.524,96","1.438,96","1.359,56","1.469,26","1.571,66","1.706,66","1.769,46","1.902,16","1.975,36","2.021,06","2.100,46","2.166,86"
5,Duque de Caxias (RJ),LPA,"1.966,56","1.784,56","1.583,86","1.527,26","1.441,26","1.361,86","1.471,56","1.573,96","1.708,96","1.771,76","1.904,46","1.977,66","2.023,36","2.102,76","2.169,16"
6,LOCAL,MODALIDADE\nDE VENDA,31.07.2020,13.08.2020,21.08.2020,03.09.2020,09.09.2020,11.09.2020,23.09.2020,30.09.2020,10.10.2020,16.10.2020,27.10.2020,31.10.2020,12.11.2020,26.11.2020,03.12.2020
7,Duque de Caxias (RJ),EXA,"2.097,66","2.163,86","2.267,06","2.213,06","2.124,66","2.041,26","2.105,86","2.188,96","2.258,96","2.186,36","2.099,26","2.016,36","2.111,06","2.177,86","2.143,06"
8,Duque de Caxias (RJ),LPA,"2.099,96","2.166,16","2.269,36","2.215,36","2.126,96","2.043,56","2.108,16","2.191,26","2.261,26","2.188,66","2.101,56","2.018,66","2.113,36","2.180,16","2.145,36"
9,LOCAL,MODALIDADE\nDE VENDA,16.12.2020,29.12.2020,19.01.2021,27.01.2021,09.02.2021,19.02.2021,02.03.2021,09.03.2021,20.03.2021,25.03.2021,16.04.2021,01.05.2021,12.06.2021,06.07.2021,12.08.2021
10,Duque de Caxias (RJ),EXA,"2.194,86","2.281,56","2.428,46","2.529,06","2.697,36","2.923,56","3.047,56","3.281,76","3.139,76","3.031,76","3.081,46","3.028,56","2.977,16","3.134,26","3.227,76"
11,Duque de Caxias (RJ),LPA,"2.197,16","2.283,86","2.430,76","2.531,36","2.699,66","2.925,86","3.049,86","3.284,06","3.142,06","3.034,06","3.083,76","3.030,86","2.979,46","3.136,56","3.230,06"
12,LOCAL,MODALIDADE\nDE VENDA,09.10.2021,26.10.2021,15.12.2021,12.01.2022,11.03.2022,18.06.2022,20.07.2022,29.07.2022,16.08.2022,02.09.2022,07.12.2022,25.01.2023,01.03.2023,01.04.2023,01.05.2023
13,Duque de Caxias (RJ),EXA,"3.420,86","3.629,66","3.533,86","3.688,46","4.297,76","4.497,76","4.296,96","4.146,96","3.968,36","3.718,36","3.518,36","3.748,36","3.618,36",,
14,Duque de Caxias (RJ),LPA,"3.423,16","3.631,96","3.536,16","3.690,76","4.300,06","4.500,06","4.299,26","4.149,26","3.970,66","3.720,66","3.520,66","3.750,66","3.620,66","3.746,70","3.746,90"
15,LOCAL,MODALIDADE\nDE VENDA,17.05.2023,16.06.2023,01.07.2023,16.08.2023,21.10.2023,01.04.2024,09.07.2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Duque de Caxias (RJ),EXA,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Duque de Caxias (RJ),LPA,"3.346,90","3.216,90","3.076,90","3.486,90","3.361,40","3.361,60","3.561,60",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
def processar_e_unir(df, passo=3):
    df_final = None  # Inicializa a variável para armazenar a união dos DataFrames

    for i in range(0, len(df), passo):
        df_temp = df.iloc[i:i+passo].copy().reset_index(drop=True)  # Seleciona o bloco
        df_temp.columns = df_temp.iloc[0]  # Define a primeira linha como cabeçalho
        df_temp = df_temp[1:].reset_index(drop=True)  # Remove a primeira linha
        df_temp = df_temp.rename(columns={'MODALIDADE\nDE VENDA': 'MODALIDADE DE VENDA'})  # Renomeia coluna

        # Junta os DataFrames iterativamente
        if df_final is None:
            df_final = df_temp  # Primeiro bloco se torna o inicial
        else:
            df_final = df_final.merge(df_temp, on=["MODALIDADE DE VENDA", "LOCAL"], how="outer")

    return df_final  # Retorna o DataFrame final unido

# Aplicando a função no df_pag10
df_pag10_union = processar_e_unir(df_pag10)
df_pag10_union.head()

,LOCAL,MODALIDADE DE VENDA,01.08.2019,16.08.2019,28.08.2019,05.09.2019,19.09.2019,27.09.2019,01.11.2019,19.11.2019,27.11.2019,14.01.2020,24.01.2020,31.01.2020,06.02.2020,20.02.2020,29.02.2020,13.03.2020,19.03.2020,25.03.2020,28.03.2020,15.04.2020,21.04.2020,07.05.2020,14.05.2020,21.05.2020,27.05.2020,09.06.2020,19.06.2020,02.07.2020,08.07.2020,17.07.2020,31.07.2020,13.08.2020,21.08.2020,03.09.2020,09.09.2020,11.09.2020,23.09.2020,30.09.2020,10.10.2020,16.10.2020,27.10.2020,31.10.2020,12.11.2020,26.11.2020,03.12.2020,16.12.2020,29.12.2020,19.01.2021,27.01.2021,09.02.2021,19.02.2021,02.03.2021,09.03.2021,20.03.2021,25.03.2021,16.04.2021,01.05.2021,12.06.2021,06.07.2021,12.08.2021,09.10.2021,26.10.2021,15.12.2021,12.01.2022,11.03.2022,18.06.2022,20.07.2022,29.07.2022,16.08.2022,02.09.2022,07.12.2022,25.01.2023,01.03.2023,01.04.2023,01.05.2023,17.05.2023,16.06.2023,01.07.2023,16.08.2023,21.10.2023,01.04.2024,09.07.2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Duque de Caxias (RJ),EXA,"2.104,36","2.004,36","2.060,46","2.082,76","2.141,96","2.186,46","2.186,46","2.236,76","2.310,46","2.301,06","2.273,96","2.218,76","2.143,16","2.194,36","2.124,26","1.964,26","1.782,26","1.581,56","1.524,96","1.438,96","1.359,56","1.469,26","1.571,66","1.706,66","1.769,46","1.902,16","1.975,36","2.021,06","2.100,46","2.166,86","2.097,66","2.163,86","2.267,06","2.213,06","2.124,66","2.041,26","2.105,86","2.188,96","2.258,96","2.186,36","2.099,26","2.016,36","2.111,06","2.177,86","2.143,06","2.194,86","2.281,56","2.428,46","2.529,06","2.697,36","2.923,56","3.047,56","3.281,76","3.139,76","3.031,76","3.081,46","3.028,56","2.977,16","3.134,26","3.227,76","3.420,86","3.629,66","3.533,86","3.688,46","4.297,76","4.497,76","4.296,96","4.146,96","3.968,36","3.718,36","3.518,36","3.748,36","3.618,36",,,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Duque de Caxias (RJ),LPA,"2.106,36","2.006,36","2.062,46","2.084,76","2.143,96","2.188,46","2.188,76","2.239,06","2.312,76","2.303,36","2.276,26","2.221,06","2.145,46","2.196,66","2.126,56","1.966,56","1.784,56","1.583,86","1.527,26","1.441,26","1.361,86","1.471,56","1.573,96","1.708,96","1.771,76","1.904,46","1.977,66","2.023,36","2.102,76","2.169,16","2.099,96","2.166,16","2.269,36","2.215,36","2.126,96","2.043,56","2.108,16","2.191,26","2.261,26","2.188,66","2.101,56","2.018,66","2.113,36","2.180,16","2.145,36","2.197,16","2.283,86","2.430,76","2.531,36","2.699,66","2.925,86","3.049,86","3.284,06","3.142,06","3.034,06","3.083,76","3.030,86","2.979,46","3.136,56","3.230,06","3.423,16","3.631,96","3.536,16","3.690,76","4.300,06","4.500,06","4.299,26","4.149,26","3.970,66","3.720,66","3.520,66","3.750,66","3.620,66","3.746,70","3.746,90","3.346,90","3.216,90","3.076,90","3.486,90","3.361,40","3.361,60","3.561,60",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
df_pag10_union = df_pag10_union.drop(columns=[col for col in df_pag10_union.columns if pd.isna(col)])
df_pag10_union.head()

,LOCAL,MODALIDADE DE VENDA,01.08.2019,16.08.2019,28.08.2019,05.09.2019,19.09.2019,27.09.2019,01.11.2019,19.11.2019,27.11.2019,14.01.2020,24.01.2020,31.01.2020,06.02.2020,20.02.2020,29.02.2020,13.03.2020,19.03.2020,25.03.2020,28.03.2020,15.04.2020,21.04.2020,07.05.2020,14.05.2020,21.05.2020,27.05.2020,09.06.2020,19.06.2020,02.07.2020,08.07.2020,17.07.2020,31.07.2020,13.08.2020,21.08.2020,03.09.2020,09.09.2020,11.09.2020,23.09.2020,30.09.2020,10.10.2020,16.10.2020,27.10.2020,31.10.2020,12.11.2020,26.11.2020,03.12.2020,16.12.2020,29.12.2020,19.01.2021,27.01.2021,09.02.2021,19.02.2021,02.03.2021,09.03.2021,20.03.2021,25.03.2021,16.04.2021,01.05.2021,12.06.2021,06.07.2021,12.08.2021,09.10.2021,26.10.2021,15.12.2021,12.01.2022,11.03.2022,18.06.2022,20.07.2022,29.07.2022,16.08.2022,02.09.2022,07.12.2022,25.01.2023,01.03.2023,01.04.2023,01.05.2023,17.05.2023,16.06.2023,01.07.2023,16.08.2023,21.10.2023,01.04.2024,09.07.2024
0,Duque de Caxias (RJ),EXA,"2.104,36","2.004,36","2.060,46","2.082,76","2.141,96","2.186,46","2.186,46","2.236,76","2.310,46","2.301,06","2.273,96","2.218,76","2.143,16","2.194,36","2.124,26","1.964,26","1.782,26","1.581,56","1.524,96","1.438,96","1.359,56","1.469,26","1.571,66","1.706,66","1.769,46","1.902,16","1.975,36","2.021,06","2.100,46","2.166,86","2.097,66","2.163,86","2.267,06","2.213,06","2.124,66","2.041,26","2.105,86","2.188,96","2.258,96","2.186,36","2.099,26","2.016,36","2.111,06","2.177,86","2.143,06","2.194,86","2.281,56","2.428,46","2.529,06","2.697,36","2.923,56","3.047,56","3.281,76","3.139,76","3.031,76","3.081,46","3.028,56","2.977,16","3.134,26","3.227,76","3.420,86","3.629,66","3.533,86","3.688,46","4.297,76","4.497,76","4.296,96","4.146,96","3.968,36","3.718,36","3.518,36","3.748,36","3.618,36",,,,,,,,,
1,Duque de Caxias (RJ),LPA,"2.106,36","2.006,36","2.062,46","2.084,76","2.143,96","2.188,46","2.188,76","2.239,06","2.312,76","2.303,36","2.276,26","2.221,06","2.145,46","2.196,66","2.126,56","1.966,56","1.784,56","1.583,86","1.527,26","1.441,26","1.361,86","1.471,56","1.573,96","1.708,96","1.771,76","1.904,46","1.977,66","2.023,36","2.102,76","2.169,16","2.099,96","2.166,16","2.269,36","2.215,36","2.126,96","2.043,56","2.108,16","2.191,26","2.261,26","2.188,66","2.101,56","2.018,66","2.113,36","2.180,16","2.145,36","2.197,16","2.283,86","2.430,76","2.531,36","2.699,66","2.925,86","3.049,86","3.284,06","3.142,06","3.034,06","3.083,76","3.030,86","2.979,46","3.136,56","3.230,06","3.423,16","3.631,96","3.536,16","3.690,76","4.300,06","4.500,06","4.299,26","4.149,26","3.970,66","3.720,66","3.520,66","3.750,66","3.620,66","3.746,70","3.746,90","3.346,90","3.216,90","3.076,90","3.486,90","3.361,40","3.361,60","3.561,60"